<!doctype html>
<html ng-app="personApp">
<head>
  <title>que</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body ng-controller="PersonController as person">
  <h1>person</h1>
  <p>Enter the name of the person.</p>
  <form>
    <div class="form-group">
      <div class="col-xs-4">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" ng-model="firstName" placeholder="John">
        <span class="help-block">Enter the first name</span>
      </div>
      <div class="col-xs-3">
        <label for="middleName">Middle Name</label>
        <input type="text" class="form-control" id="middleName" ng-model="middleName">
        <span class="help-block">Enter the middle name</span>
      </div>
      <div class="col-xs-4">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" ng-model="lastName" placeholder="Doe">
        <span class="help-block">Enter the last name</span>
      </div>
      <div class="col-xs-1">
        <label for="nameSuffix">Suffix</label>
        <input type="text" class="form-control" id="nameSuffix" ng-model="nameSuffix">
        <span class="help-block">Enter the name suffix, such as Jr. or III</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-5">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" value="{{firstName + middleName + lastName + nameSuffix}}" placeholder="Name">
        <span class="help-block">Modify the full name, as you woudl like it to appear on the documents</span>
      </div>
      <div class="col-xs-5">
        <label for="dob">Date of Birth</label>
        <input type="date" class="form-control" id="dob" ng-model="dob">
        <span class="help-block">Choose the date of birth</span>
      </div>
      <div class="col-xs-2">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" value="{{ cAge(dob) }}">
        <span class="help-block">The age</span>
      </div>
    </div>

  <!--
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  -->
  </form>
</body>
</html>
